* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.grid-container {
  display: grid;
  min-width: 320px;
  max-width: 425px;
  margin: 64px auto;

  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 128px;
  grid-gap: 2px;
}

.grid-container__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B39DDB;
  color: #ffffff;
  font-size: 64px;
  cursor: pointer;
  transition: all linear .5s;
}

.grid-container__item:hover {
  opacity: 0.8;
}