* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
  '. . .'
  '. content .'
  '. . .';
  min-width: 100vw;
  min-height: 100vh;
  background-color: #888888;
}

.content-container {
  display: grid;
  grid-area: content;
  place-items: center;
  background-color: #424242;
}

.grid-container__item {
  cursor: pointer;
  transition: all linear .5s;
}

.grid-container__item:hover {
  opacity: 0.8;
}